/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #59BC3C; 
}

h1 {
  font-style: #ABeeZee;
  color: white;
  text-align:center;
}


