body {
  font-family: "ambit";
  background-color: #C8A2C8;
}
h1 {
  font-family: "futura";
  color: white;
  text-align: center;
}
h2 {
  font-family: "futura";
  color: white;
}
img {
  width: 100%;
  max-width: 600px;
}
